BOT_LOG_CHANNEL: 524341302880501760
COGS:
  - Admin
  - PageHandler
  - BugHunter
LOGIN_TOKEN: https://www.youtube.com/watch?v=dQw4w9WgXcQ
ROLES:
  BUG_HUNTER: 1234
  MODINATOR: 1234
  EMPLOYEE: 1234
  ANDROID: 1234
  INITIATE: 1234
CHANNELS:
  BUG_HUNTER: 1234
  MODINATOR: 1234
  EMPLOYEE: 1234
  ANDROID: 4567
TRELLO_KEY: xyz123
TRELLO_TOKEN: xyz123
DTESTERS_ID: 1234
INITIATE_PHRASE: cereal is a soup
STRINGS:
  BH_WELCOME: "Everyone, please welcome the newest addition to the Bug Hunter:tm:s, {tester.mention}! Make sure they feel the love! <:dabHeart:456143314312495125>"
  WRONG_PHRASE: "Sorry, that's not the correct phrase. Just read carefully and you'll find it, I promise!"
  INITIATE_TIME_TAKEN: "{tester} took {time} to find the secret phrase and is now a full Bug Hunter!"
  NEW_INITIATE: "Congratulations! Your bug got approved and you're now just one step away from being a full-fledged Bug Hunter:tm:! All you need to do know is read through the <#322142516814282752> and find the Secret Phrase. You can find it by reading the charter thoroughly. There's no puzzle or trick, it states what the phrase is very clearly.\nOnce you find the secret phrase, just say it to me (this bot) right here in DMs and I'll let you know if it's right or not!"