BOT_LOG_CHANNEL: 524341302880501760
COGS:
  - Admin
  - PageHandler
  - announcement
LOGIN_TOKEN: https://www.youtube.com/watch?v=dQw4w9WgXcQ
ROLES:
  BUG_HUNTER: 1234
  MODINATOR: 1234
  EMPLOYEE: 1234
  ANDROID: 1234
CHANNELS:
  BUG_HUNTER: 1234
  MODINATOR: 1234
  EMPLOYEE: 1234
  ANDROID: 4567
