BH_WELCOME: "Everyone, please welcome the newest addition to the Bug Hunter:tm:s, {tester.mention}! Make sure they feel the love! <:dabHeart:456143314312495125>"
WRONG_PHRASE: "Sorry, that's not the correct phrase. Just read carefully and you'll find it, I promise!"
INITIATE_TIME_TAKEN: "{tester} took {time} to find the secret phrase and is now a full Bug Hunter!"
NEW_INITIATE: "Congratulations! Your bug got approved and you're now just one step away from being a full-fledged Bug Hunter:tm:! All you need to do know is read through the <#322142516814282752> and find the Secret Phrase. You can find it by reading the charter thoroughly. There's no puzzle or trick, it states what the phrase is very clearly.\nOnce you find the secret phrase, just say it to me (this bot) right here in DMs and I'll let you know if it's right or not!"
STORE_ITEM_NOT_FOUND: "Unable to find an item with that ID"
STORE_ITEM_UNAVAILABLE: "Sorry, this item is currently unavailable"
STORE_NEED_MORE_XP: "You need {xp.required} more XP to buy this item"
STORE_PHYSICAL: "Purchase successful! As this is a physical item, please DM <@110813477156720640> to provide a mailing address\nReceipt:\n{receipt}"
STORE_DIGITAL: "Purchase successful! \nReceipt:\n{receipt}"
STORE_ROLE: "Role added!\nReceipt:\n{receipt}"
STORE_ROLE_ERROR: "Sorry, something went wrong while applying your purchased role. Please contact a Modinator for assistance"